[submodule "bgpdump"]
	path = bgpdump
	url = git@github.com:kyechou/aur-bgpdump.git
[submodule "opendaylight"]
	path = opendaylight
	url = git@github.com:kyechou/aur-opendaylight.git
[submodule "onos"]
	path = onos
	url = git@github.com:kyechou/aur-onos.git
[submodule "mininet-git"]
	path = mininet-git
	url = git@github.com:kyechou/aur-mininet-git.git
[submodule "leagueoflegends-git"]
	path = leagueoflegends-git
	url = git@github.com:kyechou/aur-leagueoflegends-git.git
[submodule "libnetconf2"]
	path = libnetconf2
	url = git@github.com:kyechou/aur-libnetconf2.git
[submodule "netopeer2"]
	path = netopeer2
	url = git@github.com:kyechou/aur-netopeer2.git
[submodule "libredblack"]
	path = libredblack
	url = git@github.com:kyechou/aur-libredblack.git
[submodule "sysrepo"]
	path = sysrepo
	url = git@github.com:kyechou/aur-sysrepo.git
[submodule "divine2-ltsmin"]
	path = divine2-ltsmin
	url = git@github.com:kyechou/aur-divine2-ltsmin.git
[submodule "spin-git"]
	path = spin-git
	url = git@github.com:kyechou/aur-spin-git.git
[submodule "python-pysmt-git"]
	path = python-pysmt-git
	url = git@github.com:kyechou/aur-python-pysmt-git.git
[submodule "python-laspy"]
	path = python-laspy
	url = git@github.com:kyechou/aur-python-laspy.git
[submodule "protobuf25"]
	path = protobuf25
	url = git@github.com:kyechou/aur-protobuf25.git
[submodule "thrift-0.9"]
	path = thrift-0.9
	url = git@github.com:kyechou/aur-thrift-0.9.git
[submodule "clickrouter-git"]
	path = clickrouter-git
	url = git@github.com:kyechou/aur-clickrouter-git.git
[submodule "intelxed"]
	path = intelxed
	url = git@github.com:kyechou/aur-intelxed.git
[submodule "intelxed-git"]
	path = intelxed-git
	url = git@github.com:kyechou/aur-intelxed-git.git
[submodule "remill-git"]
	path = remill-git
	url = git@github.com:kyechou/aur-remill-git.git
[submodule "remill"]
	path = remill
	url = git@github.com:kyechou/aur-remill.git
[submodule "anvill"]
	path = anvill
	url = git@github.com:kyechou/aur-anvill.git
[submodule "python-ccsyspath"]
	path = python-ccsyspath
	url = git@github.com:kyechou/aur-python-ccsyspath.git
[submodule "dyninst"]
	path = dyninst
	url = git@github.com:kyechou/aur-dyninst.git
[submodule "dyninst-git"]
	path = dyninst-git
	url = git@github.com:kyechou/aur-dyninst-git.git
[submodule "mcsema"]
	path = mcsema
	url = git@github.com:kyechou/aur-mcsema.git
[submodule "retdec"]
	path = retdec
	url = git@github.com:kyechou/aur-retdec.git
[submodule "retdec-git"]
	path = retdec-git
	url = git@github.com:kyechou/aur-retdec-git.git
[submodule "wllvm-git"]
	path = wllvm-git
	url = git@github.com:kyechou/aur-wllvm-git.git
[submodule "klee-libc++"]
	path = klee-libc++
	url = git@github.com:kyechou/aur-klee-libcxx.git
[submodule "gllvm-git"]
	path = gllvm-git
	url = git@github.com:kyechou/aur-gllvm-git.git
