[submodule "bgpdump"]
	path = bgpdump
	url = git@github.com:kyechou/aur-bgpdump.git
[submodule "opendaylight"]
	path = opendaylight
	url = git@github.com:kyechou/aur-opendaylight.git
[submodule "onos"]
	path = onos
	url = git@github.com:kyechou/aur-onos.git
[submodule "mininet-git"]
	path = mininet-git
	url = git@github.com:kyechou/aur-mininet-git.git
[submodule "leagueoflegends-git"]
	path = leagueoflegends-git
	url = git@github.com:kyechou/aur-leagueoflegends-git.git
[submodule "libnetconf2"]
	path = libnetconf2
	url = git@github.com:kyechou/aur-libnetconf2.git
[submodule "netopeer2"]
	path = netopeer2
	url = git@github.com:kyechou/aur-netopeer2.git
[submodule "libredblack"]
	path = libredblack
	url = git@github.com:kyechou/aur-libredblack.git
[submodule "sysrepo"]
	path = sysrepo
	url = git@github.com:kyechou/aur-sysrepo.git
[submodule "divine2-ltsmin"]
	path = divine2-ltsmin
	url = git@github.com:kyechou/aur-divine2-ltsmin.git
[submodule "spin-git"]
	path = spin-git
	url = git@github.com:kyechou/aur-spin-git.git
